<header>
  <div id="logo">
    <img src="logo.png" alt="Website logo, a server" />
  </div>

  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/">Management</a>
      </li>
      <li>
        <!-- <button>
            <span>
              Logout
            </span>
            <span class="icon">
              →
            </span>
          </button> -->
        <!-- Replacing above button code with below new shared button -->
        <!-- <app-button/> -->
        <!-- A app-button wrapper was getting created in the DOM 
          which contains button 
          to remove that making below change inherit button similar-->

        <button appButton>
          Logout
          <span ngProjectAs="icon">-></span>
        </button>
      </li>
    </ul>
  </nav>
</header>
