<div
  [style]="{
    'text-align': 'center',
    'font-size': '40px'
  }"
>
  <a href="https://angular.dev/guide/components/lifecycle"
    >Angular Lifecycle Documentation Link</a
  >
</div>
<div id="buttons">
  <button (click)="onToggleLifecycleComponentVisibility()">
    Toggle Lifecycle Component Visibility
  </button>
  <button (click)="onChangeLifecycleInputText()">
    Change Lifecycle Component Text
  </button>
</div>

@if (lifecycleComponentIsVisible) {
<app-lifecycle [text]="lifecycleInputText" />
}
